body,button,input,select{
	font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#makerbox .row{
	padding: 10px 0;
}

#fileFace{
	position: absolute;
	left:-999px;
	top:-999px;
}
#rname{
	width: 100px;
}
#fname{
	width: 50px;
}


#imgFace{
	width: 60px;
	height: 60px;
}

#department{
	width: 300px;
}
#tel{
	width: 150px;
}
#telsub{
	width: 100px;
}

.mask{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.5;
	z-index:100;
}
.pop{
	z-index:150;
	/* position:fixed;
	top:50%;
	left:50%; */
}
.pop h3{font-size:18px;}
.pop .modal-footer{padding:8px 15px;}
#imgSelectOk{width:50px;}