html{
	overflow-y:scroll;
}
body,button,input,select,h2{
	font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wrap{
	width: 900px;
	margin: 0 auto;
}
.content{
	padding: 10px 0;
}

.info{
	float: left;
	width: 300px;
	margin-right: 50px;
}
#make{
	width: 100px;
	margin-top: 15px;
}

.out{
	float: left;
	width: 500px;
}
#down{
	display:none;
	width: 100px;
	margin: 10px;
}